@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


/* vår "minimal css reset" */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    /* Bra å alltid ha med denne regelen også */
    width: 100%;
}

/* Slutt på vår "minimal css reset" */


a {
    text-decoration: none;
    color: inherit;
}

body {
    /* Vår navbar har position fixed. Da må vi ha litt 
       margin på toppen for å ikke bli liggende "bak" den */
    margin-top: 100px;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

}


/* Navbar */
nav {
    display: flex;
    justify-content: space-around;
    /* Vi bruker position fixed for at navbar alltid skal synes i toppen */
    position: fixed;
    width: 100%;
    top: 0;
    /* Pass på at navbaren ligger "over" annet innhold med z-index */
    z-index: 100;
}

nav {
    background-color: white;
    border-bottom: 2px darkblue;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

nav a,
nav button {
    background-color: inherit;
    color: darkblue;
    text-decoration: none;
    font-size: 35px;
    padding: 20px;
    border: none;
    font-family: Big Shoulders Inline;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 15px;
    margin-top: 0px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 200px;
}

.dropdown-content a {
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
}

#home, .dropbtn{
    margin-top: 30px;
}


/* Slutt Navbar */

.logo {
    height: 100px;
}



/* Main */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-color: aliceblue;
}
.containerGrid {
    align-items: center;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    gap: 1em;
    grid-template-areas: 
    "box-1 box-1 box-2"
    "box-1 box-1 box-2"
    "box-3 box-4 box-2"
    "box-5 box-6 box-6";
    width: 1300px;
    background-color: white;
    margin: 0px auto;
    
    
}

article {
    font-size: 30px;
    padding: 20px;
    box-shadow: 10px 10px 10px lightgray;
    
}




/* genrell artikkel css*/


.artNav {
    left: 0;
}

.artMain {
    padding: 50px 50px 0 50px;
    background-color: white;
    text-align: left;
    flex-direction: column;
}

.artMain img {
    position: relative;
    object-fit: cover;
    height: 500px;
}

.artArticle {
    background-color: white;
    width: 80%;
    gap: 100px;
    padding: 50px 150px 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    margin-top: -180px;
    margin-bottom: 100px;
    box-shadow: none;
    z-index: 3;
    align-items: center;
}

.artMain h1 {
    font-size: 60px;
    line-height: 130%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
}

h2 {
    font-size: 20px;
    font-weight: 100;
    line-height: 140%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(79, 79, 79);

}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    letter-spacing: -.5px;
    font-size: 20px;
}

.overskrift {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tekst {
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 32px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    letter-spacing: .5px;
    font-size: 18px;
}

.paragraf1 span {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    float: left;
    line-height: .8;
    margin: 0 20px 0 0;

}

.tekst img {
    width: 100%;
    z-index: 2;
    height: 100%;
}

.bilde p {
    color: rgb(108, 107, 107);
    letter-spacing: normal;
}

.lesogsaa {
    display: flex;
    width: 100%;
    box-shadow: 0px 5px 15px #e6e3e3;
    padding: 0 30px 0 0;
    align-items: center;
    justify-content: space-between;
    cursor: pointer !important;
    user-select: none;
    gap: 10px;
}

.lesogsaa div {
    display: flex;
    gap: 10px;
}

.lesogsaa div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
}

.lesogsaa img {
    width: 200px !important;
    height: 100px !important;
}

.lesogsaa div div h1,
.lesogsaa div div h2 {
    font-size: 15px;
    color: black;
    font-weight: 900;
    letter-spacing: 0;
}

.lesogsaa div div h2 {
    font-size: 13px;
}

.fa-arrow-right {
    font-size: 30px;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    width: 100%;
}

.info p {
    font-weight: 900;
}

.dato {
    display: flex;
    gap: 10px;
}

.dato p {
    font-weight: 200;
}



/* MEDIA: Så den passer forskjellige skjermstørrelser*/

@media (max-width: 1120px) {
    h1 {
        font-size: 45px;
    }

    .artArticle {
        width: 90%;
        padding-left: 50px;
        padding-right: 50px;
        gap: 70px;
    }

    .lesogsaa div div h1 {
        font-size: 13px;
    }

    .lesogsaa div div h2 {
        font-size: 10px;
    }

    h2 {
        font-size: 17px;
    }
}

@media (max-width: 807px) {
    h1 {
        font-size: 30px;
    }

    .artArticle {
        width: 80%;
        margin-top: 0;
        padding: 30px 0 0 0;
        gap: 50px;
    }

    .tekst {
        width: 90%;
    }

    footer {
        flex-direction: column;
        height: auto;
        align-items: center;
        padding-bottom: 0;
    }

    .artMain {
        padding: 50px 0 0 0;
    }

    .artMain img {
        height: 50%;
    }

    .lesogsaa img {}

    .tekst {
        font-size: 16px;
    }

    .paragraf1 span {
        font-size: 80px;
    }
}

@media (max-width: 502px) {
    .lesogsaa div div h1{
        font-size: 10px;
    }

    .lesogsaa div div h2{
        font-size: 7px;
    }
    .artArticle{
        margin: 0 0 100px 0;
    }
    .lesogsaa  div img{
        width: 100%;
    }
    .lesogsaa{
        overflow: hidden;
        padding: 0 0 30px 0;   
        justify-content: center;
        width: 200px;
       justify-self: center;
    }
    .lesogsaa div{
        flex-direction: column;
        align-items: center;
    }
    .lesogsaa i{
        display: none;
    }
    nav img{
        display: none;
    }
    nav{
        padding: 0 0 35px 0;
    }
}



/* Footer */

footer {
  display: flex;
  flex-direction: row;
  height: 65vh;
  justify-content: space-around;
  padding-top: 100px;
  background-color: rgb(17, 17, 75);
  color: white;
}

footer h1 {
  font-size: 20px;
  padding-bottom: 5px;
}

footer p {
  font-size: 20px;
  margin-bottom: 50px;
}

#footerTrykkHer {
  text-decoration: underline;
  color: rgb(248, 240, 96);
}
#footerTrykkHer:hover {
  text-decoration: underline;
  color: blue;
}

/* Slutt Footer*/


